@import url('../fonts/fonts.css');

.wrapper_header {
  background-image: url('../../../assets/img/header/background.jpg');
  background-size: cover;
  color: white;
  
}

.header { 
  font-family: 'Arial';
  padding: 5px 40px 50px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo_name {
  font-family: 'Georgia';
  font-weight: normal;
  font-style: normal;
  color: rgb(241, 205, 179);
  font-size: 32px;
  margin-bottom: 10px;

}

.logo_text {
  margin-top: 0;
  color: rgb(205, 205, 205);
}

.navigation_list { 
  color: rgb(205, 205, 205);
  font-size: 14px;
  display: flex;
  justify-content: space-between;

}

.navigation_list li {
  margin-left: 40px;
}

.not_only {
  font-weight: 'arial-regular';
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  padding: 0 30px 0 30px;

}

.not_only_container {
  margin-left: 15px;
  margin-top: 145px;
}

.not_only_header {
  max-width: 420px;
  font-size: 30px;
  line-height: 200%;
}

.not_only_text {
  color: rgb(205, 205, 205);
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 50px;
}

.not_only_button {
  color: black;

}
.not_only_img{
max-width: 100%;
height: auto;
}

.burger{
  display: none;
}
/* телефон */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header{
  padding: 0 10px;
  }
  .navigation{
    display: none;
  }
  .not_only {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .not_only_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto); 
    justify-items: center;
    margin: 0;
    padding: 0 10px;
  }
  .not_only_header {
   text-align: center;
  }
   .not_only_text {
    margin-bottom: 0;
     
  }
  .not_only_button {
   margin-top: 20px;
   margin-bottom: 20px;
  }
  .burger {
   display: block;
    }
  
}
/* планшет */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header{
    padding: 0 30px;
  }

.not_only{  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not_only_text{
 margin-bottom: 0;
}
.not_only_container{
  display: grid;
  grid-template-columns: 1fr;  
  grid-template-rows: repeat(3, auto); 
  gap: 10px; 
  justify-items: start;
  margin: 0;
  margin: 0px 120px 0px 120px;
}
.not_only_button{
margin-left: 120px;
}
.navigation_list li {
  margin-left: 35px;
}
.not_only_img {
 max-height: 600px ;
 padding-top: 80px;
 margin-left: 100px;
}
 
}
